{% extends 'main_page/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="container m-3">
          <a href="{% url 'mailing:mailing_list' %}" class="btn btn-lg btn-primary text-white me-4">К рассылкам</a>
          <a href="{% url 'mailing:client_create' %}" class="btn btn-lg btn-dark text-white">Добавить клиента</a>
        </div>
          <div class="container m-3">
            <table class="table text-left my-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Имя</th>
                  <th scope="col">Фамилия</th>
                  <th scope="col">Почта</th>
                  <th scope="col">Действие</th>
                </tr>
              </thead>
              <tbody>
                {% for object in object_list %}
                <tr>
                  <th scope="row">{{ object.id }}</th>
                  <td>{{ object.name|truncatechars:12 }}</td>
                  <td>{{ object.surname|truncatechars:12 }}</td>
                  <td>{{ object.email|truncatechars:18 }}</td>
                  <td>
                    <div class="btn-group" style="width:100%">
                      <a href="{% url 'mailing:client_details' object.pk %}" class="btn btn-sm btn-outline-success">Подробнее</a>
                      <a href="{% url 'mailing:client_delete' object.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}