{% extends 'main_page/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="container mb-3">
          <a href="{% url 'mailing:clients_list' %}" class="btn btn-lg btn-primary text-white me-4" style="width: 151px">К клиентам</a>
          <a href="{% url 'mailing:mailing_create' %}" class="btn btn-lg btn-dark text-white">Создать рассылку</a>
          <a href="{% url 'mailing:mailing_logs_list' %}" class="btn btn-lg btn-secondary text-white">Посмотреть отчеты по рассылкам</a>
        </div>
          <div class="container">
            <table class="table text-left my-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Время</th>
                  <th scope="col">Частота</th>
                  <th scope="col">Статус</th>
                  <th scope="col">Кол-во клиентов</th>
                  <th scope="col">Действие</th>
                </tr>
              </thead>
              <tbody>
                {% for object in object_list %}
                <tr>
                  <th scope="row">{{ object.id }}</th>
                  <td>{{ object.time }}</td>
                  <td>{{ object.get_frequency_display }}</td>
                  <td>{{ object.get_status_display|truncatechars:15 }}</td>
                  <td>{{ object.client.all.count }}</td>
                  <td>
                    <div class="btn-group" style="width:100%">
                      <a href="{% url 'mailing:mailing_detail' object.pk %}" class="btn btn-sm btn-outline-success">Подробнее</a>
                      <a href="{% url 'mailing:mailing_delete' object.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}