{% extends 'main_page/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<main>

  <form method="post" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
          <div class="col-4">
            <div class="card shadow-sm">
              <div class="card-body">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-lg btn-success">Создать</button>
                <a href="{% url 'mailing:clients_list' %}" class="btn btn-lg btn-dark">Назад</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card shadow-sm">
              <div class="card-body">
                {{ formset|crispy }}
              </div>
            </div>
          </div>
      </div>
    </div>
  </form>

</main>

{% endblock %}